.editer {
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 5px;
  height: 300px;
  width: 300px;
  max-width: 60vw;
  max-height: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #cc6699;
  box-shadow: 5px 5px 10px #888888, -5px -5px 10px #888888;
  z-index: 9;
}

.editer div {
  background-color: #cc6699;
}

.editer label {
  font-size: 15px;
  background-color: unset;
}

.editer input[type="date"] {
  width: fit-content;
}

.editer textarea {
  width: 98%;
  height: 200px;
  max-height: 35vw;
  resize: none;
}

.editer input[type="submit"],
.editer button {
  border: 1px solid;
  margin-right: 2px;
  padding: 5px;
  width: 60px;
  border-radius: 3px;
  font-weight: 20px;
}

.editer input[type="submit"] {
  background-color: #70db70;
}

.editer button {
  background-color: #ff6666;
}

.editer input[type="submit"]:hover,
.editer button:hover {
  opacity: 0.7;
}
