.body-note {
  background-color: unset;
}

.note {
  margin: 3px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: justify;
  font-size: 12px;
  background: #fff;
}

.note-delete {
  padding: 5px;
  margin-bottom: 5px;
  text-align: justify;
  font-size: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 85%;
}

.note p,
.note-delete p {
  margin: 0;
  font-weight: normal;
}
