.calendar {
  margin: 10px;
  grid-area: calendar;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 25px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "calm calm calm calm calm calm calm"
    "calw calw calw calw calw calw calw"
    "cald cald cald cald cald cald cald"
    "cald cald cald cald cald cald cald"
    "cald cald cald cald cald cald cald"
    "cald cald cald cald cald cald cald"
    "cald cald cald cald cald cald cald"
    "cald cald cald cald cald cald cald";
}

@media (max-width: 600px) {
  .calendar {
    height: 45vh;
    margin: 0;
    border-radius: 0;
  }
}

@media (max-width: 1024px) {
  .calendar {
    height: 70vh;
    margin: 0;
    border-radius: 0;
  }
}
