.notes input[type="checkbox"] {
  justify-content: center;
  align-items: center;
}

.notes {
  grid-area: notes;
  border-radius: 5px;
  background-color: #cc6699;
  margin: 10px;
  height: fit-content;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
