.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 2px;
  grid-template-areas: "calendar notes";
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

@media (max-width: 1024px) {
  .container {
    display: inline-block;
  }
}
